
#sidebar {
  float:left;
  height: 120%;
  width :20%;
  border: 2px solid black;
    margin:1;
}
#banner { 
  background:;
  height:15%;
  border:2px solid black;
  margin:1;
  width :98.5%;
  text-align:center;
  font-size:50;

}
 #nav {
   border:2px solid black;
    margin:1;
    HEIGHT:5%;
      width :98.5%;
}
#CONTENT {
  float:right;
  text-align:center;
  width:77.4%;
  height:120%;
  border:2px solid black;
  float: ;
    margin:1;
    
}
