#Ollie   { 
 float:top;
  text-align:center;
  width:100%;
  height:100%;
  border:2px solid black;
  float: ;
    margin:1;
 color:black;

} 
#topbar  {
  float: top;
  height: 11%;
  width :100%;
  border: 2px solid black;
    margin:1;
    background: ;
 color:black;
}

#sidebar {
  float:left;
  height: 120%;
  width :20%;
  border: 2px solid black;
    margin:1;
    background: ;
 color:black;
}
#banner { 
  background: ;
  height:15%;
  border:2px solid black;
  margin:1;
  width :98.5%;
  text-align:center;
  font-size:50;
  color:black;
}

 #nav {
  
   border:2px solid black;
    margin:1;
    HEIGHT:5%;
      width :98.5%;
       text-align:center;
       background:;
 color:black;
    
}
#CONTENT {
  float:right;
  text-align:center;
  width:77.4%;
  height:120%;
  border:2px solid black;
  float: ;
    margin:1;
    background
font-stretch:expanded;
font-weight:bold;
font-family: Georgia, serif;
font-size:18;
letter-spacing: 2px;
word-spacing: 2px;
color:black;
font-weight: normal;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: none;
}
    



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:100%;
  background-color: #white;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
   list-style-type: none;
color:black;
  padding: 8px 16px;
  text-decoration: none;
   font-size: 20
}

li a.active {
  background-color: 8a0000;
  color: white;
  font-size: 20
}

li a:hover:not(.active) {
  background-color: #8a0000;
  color: black;
}
li a.done {
  background-color: black;
  color:black;
  font-size: 20
 list-style-type: none;
}
li a.skate {
  background-color: ;
  color: black;
  font-size: 20
 list-style-type: none;
}
</style>
